<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <div class="header-container">
        <div class="logo">
            <h1>Vietnam News</h1>
        </div>
        <div class="header-right">
            <input type="text" placeholder="Tìm kiếm...">
        </div>
    </div>
</header>

<nav>
    <ul class="menu">
        <li><a href="/api/public/">Trang Chủ</a></li>
        <li id="menuDangKy" style="display: none"><a href="/api/public/register">Đăng Ký</a></li>
        <li id="menuDangNhap" style="display: none"><a href="/api/public/login">Đăng Nhập</a></li>
        <li id="menuProfile" style="display: none"><a href="/api/user/profile">Tài Khoản</a></li>
        <li id="menuDangXuat" onclick="logout()" style="display: none">Đăng xuất</li>
    </ul>
</nav>

<div class="container">
    <h2>📢 Thông báo cuộc họp sau Tết</h2>
    <p>
        <br><br>

        Sau kỳ nghỉ Tết vui vẻ ăn chơi không lối về, nhóm nhận ra một sự thật đau lòng: <b>Deadline vẫn tồn tại, còn bài thì chưa có!</b> 🎇💀<br><br>

        Ban đầu, chúng tôi dự định họp vào thứ 6 (7/2/2025) để "chốt sổ", nhưng sau 5 phút nhìn nhau và 30 phút bàn bạc nghiêm túc, nhóm đã đi đến một quyết định <b>đầy trách nhiệm</b>: <b>Hoãn cuộc họp sang tuần sau!</b> 📅🔥<br><br>

        Thầy Nam - người thầy hiền từ sau khi thấy tình trạng của nhóm đã thở một cái thật dài và bất lực đồng ý 😭😭😭 <br><br>

        Vậy là chúng tôi chính thức bước vào chế độ <b>"cày cày cày và cày"</b>, hy vọng hôm sau sẽ không có ai "bay màu". 🚀💻☕<br><br>

        <b>Kết luận:</b> Tết vui nhưng hậu quả cũng "vui" không kém. Mong rằng sang năm mới, nhóm ta sẽ trưởng thành hơn... hoặc ít nhất là <b>bớt delay hơn một chút!</b> 😅🎉
    </p>

</div>

<footer>
    <p>&copy; 2025 Vietnam News.</p>
</footer>
<!--<script type="module" src="home.js"></script>-->
<script>
    var jwt = localStorage.getItem('role');
    if(jwt) {
        alert('Welcome, ' + jwt);
    }
</script>
<script src="/js/logout.js"></script>
<script src="/js/menu.js"></script>

</body>
</html>
